<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>menuTitle</key>
		<string>\t  tab</string>
		<key>pattern</key>
		<string>\t</string>
	</dict>
	<dict>
		<key>menuTitle</key>
		<string>\n  nylinie</string>
		<key>pattern</key>
		<string>\n</string>
	</dict>
	<dict>
		<key>menuTitle</key>
		<string>\f  sideskift</string>
		<key>pattern</key>
		<string>\f</string>
	</dict>
	<dict>
		<key>menuTitle</key>
		<string>billede/vedhæftning</string>
		<key>pattern</key>
		<string>\ufffc</string>
	</dict>
	<dict>
		<key>menuTitle</key>
		<string>.  vilkårligt tegn</string>
		<key>pattern</key>
		<string>.</string>
	</dict>
	<dict>
		<key>menuTitle</key>
		<string>^ start på linie</string>
		<key>pattern</key>
		<string>^</string>
	</dict>
	<dict>
		<key>menuTitle</key>
		<string>$ slut på linie</string>
		<key>pattern</key>
		<string>$</string>
	</dict>
	<dict>
		<key>menuTitle</key>
		<string>\b  ord ramme</string>
		<key>pattern</key>
		<string>\b</string>
	</dict>
	<dict>
		<key>menuTitle</key>
		<string>\B  ikke-ord ramme</string>
		<key>pattern</key>
		<string>\B</string>
	</dict>
	<dict>
		<key>menuTitle</key>
		<string>\w  ord tegn</string>
		<key>pattern</key>
		<string>\w</string>
	</dict>
	<dict>
		<key>menuTitle</key>
		<string>\W  ikke-ord tegn</string>
		<key>pattern</key>
		<string>\W</string>
	</dict>
	<dict>
		<key>menuTitle</key>
		<string>\s  tomtmellemrum (inkl. \t\n\f\r)</string>
		<key>pattern</key>
		<string>\s</string>
	</dict>
	<dict>
		<key>menuTitle</key>
		<string>\S  ikke-tomtmellemrum</string>
		<key>pattern</key>
		<string>\S</string>
	</dict>
	<dict>
		<key>menuTitle</key>
		<string>\d  ciffer</string>
		<key>pattern</key>
		<string>\d</string>
	</dict>
	<dict>
		<key>menuTitle</key>
		<string>\D  ikke-ciffer</string>
		<key>pattern</key>
		<string>\D</string>
	</dict>
	<dict>
		<key>menuTitle</key>
		<string>\uhhhh  hex værdi (hhhh)</string>
		<key>pattern</key>
		<string>\u</string>
	</dict>
	<dict>
		<key>menuTitle</key>
		<string>*  match 0 eller flere gange</string>
		<key>pattern</key>
		<string>*</string>
	</dict>
	<dict>
		<key>menuTitle</key>
		<string>+  match 1 eller flere gange</string>
		<key>pattern</key>
		<string>+</string>
	</dict>
	<dict>
		<key>menuTitle</key>
		<string>?  match 0 eller 1 (foretræk 1)</string>
		<key>pattern</key>
		<string>?</string>
	</dict>
	<dict>
		<key>menuTitle</key>
		<string>[abc]  match vilkårligt i sæt</string>
		<key>pattern</key>
		<string>[]</string>
	</dict>
	<dict>
		<key>menuTitle</key>
		<string>[^abc]  match vilkårligt ikke i sæt</string>
		<key>pattern</key>
		<string>[^]</string>
	</dict>
	<dict>
		<key>menuTitle</key>
		<string>[a-b]  match vilkårligt i område</string>
		<key>pattern</key>
		<string>[-]</string>
	</dict>
	<dict>
		<key>menuTitle</key>
		<string>(a|b)  indtast a eller b</string>
		<key>pattern</key>
		<string>(|)</string>
	</dict>
	<dict>
		<key>menuTitle</key>
		<string>b{2} præcis 2 af b</string>
		<key>pattern</key>
		<string>{}</string>
	</dict>
	<dict>
		<key>menuTitle</key>
		<string>\  behandl *?+[( ){}^$|\./ bogstaveligt</string>
		<key>pattern</key>
		<string>\</string>
	</dict>
	<dict>
		<key>menuTitle</key>
		<string>\0 fundet tekst (kun i feltet Erstat)</string>
		<key>pattern</key>
		<string></string>
	</dict>
</array>
</plist>
